# Node modules
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/

# IDE
.vscode/
.idea/